/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*.swp
*.swo

/.settings
/target
.project
.classpath

docs/uberdoc.html

dump.vcd

my-design

piplin_trace.vcd
.piplin*

sample.v

.lein-plugins/checksum

target/stale/dependencies
